.inspection-btn {
    width: 30px !important;
    height: 30px !important;
    border-radius: 0px !important;
}

.inspection-btn-tree {
    width: 25px !important;
    height: 25px !important;
    border-radius: 0.25em !important;
    padding: 0 !important;
}

.inspection-btn-tree > .fa-fw {
    width: 100% !important;
}





.boolean-size {
    font-size: 29px;
}

.vehicle-ok-boolean > .form-check > .form-check-input:checked {
    background-color: #228E3B;
    border-color: #228E3B;
}

.vehicle-ok-boolean > .form-check > .form-check-input {
    border-color: #228E3B;
}

.vehicle-ok-boolean > .form-check > .form-check-input:hover {
    border-color: #228E3B;
    background-color: #228E3B;
}

.vehicle-further-boolean > .form-check > .form-check-input:checked {
    background-color: #ECAC26;
    border-color: #ECAC26;
}

.vehicle-further-boolean > .form-check > .form-check-input {
    border-color: #ECAC26;
}

.vehicle-further-boolean > .form-check > .form-check-input:hover {
    border-color: #ECAC26;
    background-color: #ECAC26;
}

.vehicle-required-boolean > .form-check > .form-check-input:checked {
    background-color: #D44C59;
    border-color: #D44C59;
}

.vehicle-required-boolean > .form-check > .form-check-input {
    border-color: #D44C59;
}

.vehicle-required-boolean > .form-check > .form-check-input:hover {
    border-color: #D44C59;
    background-color: #D44C59;
}

.vehicle-not-inspected-boolean > .form-check > .form-check-input:checked {
    background-color: #71639e;
    border-color: #71639e;
}

.vehicle-not-inspected-boolean > .form-check > .form-check-input {
    border-color: #71639e;
}

.vehicle-not-inspected-boolean > .form-check > .form-check-input:hover {
    border-color: #71639e;
    background-color: #71639e;
}

.vehicle-filled-boolean > .form-check > .form-check-input:checked {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.vehicle-filled-boolean > .form-check > .form-check-input {
    border-color: #17a2b8;
}

.vehicle-filled-boolean > .form-check > .form-check-input:hover {
    border-color: #17a2b8;
    background-color: #17a2b8;
}